.img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.item {
    position: relative;
    transition: all .2s;
}

.wrapper {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.skeleton {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    animation: loading 1s linear infinite alternate;
}

@keyframes loading {
    0% {
        background: #c5d9e2;
    }
    100% {
        background: #f0f3f5;
    }
}

@media(min-width: 1024px) {
    .itemLoaded:hover  {
        transform: scale(1.1);
        box-shadow: var(--accent-shadow);
        transition: all .2s;
    }
    
    .itemLoaded:hover .wrapper {
        display: block;
    }
    .wrapper {
        display: none;
    }
}