.img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.item {
    position: relative;
    transition: all .2s;
}

.wrapper {
    position: absolute;
    bottom: 15px;
    right: 15px;
}


@media(min-width: 1024px) {
    .item:hover  {
        transform: scale(1.1);
        box-shadow: var(--accent-shadow);
        transition: all .2s;
    }
    .item:hover .wrapper {
        display: block;
    }
    .wrapper {
        display: none;
    }
}