.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 48px;
}

.text {
    text-align: center;
}

@media(max-width: 767px) {
    .grid {
        gap: 24px;
    }
}